@media only screen and (min-width: 600px) {

    main, .vinylRecordCollection, .profile, .loginMain, .registrationMain, .newVinylMain, .uploadMain, .editVinylMain, .changeImageMain, .deleteVinylMain, .wishlistMain, .newWishlistMain, .editWishlist, .wlToCollection  {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        height: auto;
        margin-bottom: 70px;
    }

    #hero {
        display: none;
    }

    body {
        background-image: url('https://vinyl-record-playlist.s3-us-west-1.amazonaws.com/records.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }

    footer p {
        margin: 0;
        padding: 5px 0 5px 0;
  
    }

    .editWishlist + footer, .deleteVinylMain + footer, .registrationMain + footer, .newWishlistMain + footer, .loginMain + footer {
        position:absolute;
        bottom:0;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .logo {
        width: 100%;
        margin: 0 auto;
        height: auto;
        text-align: center;
    }



}