@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {

    padding: 0;



}

/******** HTML **********/
html {
    min-width: 350px;
}


/******** BODY **********/
body {
    background-color: #000100;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kalam', cursive;
}



/******** HEADER **********/
header {
    background-color: #FFFFFF;
    padding: 30px 0 10px 0;
}

.logo img {
    width: 100%;
    max-width: 900px;
    height: auto;

}

.accountOptions {
    text-align: center;
    padding-top: 20px;

}


#profile {
    text-decoration: none;
    background-color: #000100;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;

}

#logout {
    text-decoration: none;
    background-color: #000100;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;

}

#profile:hover,
#logout:hover {
    background-color: #FF6700;
    color: #000100;
    font-weight: bolder;

}




/******** NAV **********/
nav {
    background-color: #FF6700;
    width: 100%;
    color: #000100;
    font-weight: bolder;
    border-top-color: #000100;
    border-width: 5px 0 0 0;
    border-style: solid;
    border-bottom: 5px solid #000100;
    
}


nav ul {

    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
}

nav li {
    display: flex;
    border-left: 2px solid #000100;
    margin: 0 2px 0 2px;
}

nav li:nth-child(3) {
    border-right: 2px solid #000100;
}

nav a {

    background-color: #000100;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: block;
    
    text-align: center;
}


nav li a:hover {
    background-color: #000100;
    color: #FF6700;
    
}

nav a:active {
    background-color: #000100;
    color: #FF6700;
   
}


.selected {
    background-color: #1446A0;
    color: #FFFFFF;
}


/******** MESSAGE **********/
.message {
    background-color: #1446A0;
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    margin: 2px; 
    text-align: center;   
    
}

.notice {
    background-color: #1446A0;
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    margin: 2px; 
    text-align: center;   
    
}

.dbMessage {
    background-color: #1446A0;
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    margin: 2px; 
    text-align: center;   
    
}


/******** FOOTER **********/
footer {
    color: #FF6700;
    background-color: #000100;
    text-align: center;
    
    
}

footer p {
    padding: 3px 0 3px 0;
    font-weight: bold;
}





/******** HOME **********/
#hero {
    background-color: #000100;
}

#hero img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #000100;
}

main p, main div {
    background-color: #FFFFFF;
    margin: 0 15px 0 15px;
}

main > div > h1 { 
    text-align: center;
    border-bottom: 5px solid #FF6700;
    margin: 0;
    padding-top: 50px;
        
}

main div p, main div h2, .loginform, #accountLink {
    background-color: #FF6700;
    color: #FFFFFF;

}

main div p {
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
}

main div form {
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
}

main div p{
    margin: 0;
    padding: 25px 5px 15px 15px;
    font-weight: bold;
}

main div h2 {
    padding: 20px 0 10px 15px;
    margin: 0;
}

.loginform {
    padding-left: 15px;

}

.loginform label{
    font-weight: bold;
}

.input {
    width: 90%;
    padding: 7px 7px;
    margin: 5px 0 0 0;
}

#loginInstructions {
    font-size: small;
    font-style: italic;
    display: inline-block;
    padding-right: 15px;
}

.inputButton {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 5px;
    background-color: #000100;
    color: #FFFFFF;
}

.inputButton:hover {
    background-color: #000100;
    color: #FF6700;
}

#accountLink {
    text-align: center;
    padding: 10px 0 40px 0;
}

#accountLink a {
    text-decoration: none;
    background-color: #1446A0;
    color: #FFFFFF;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

#accountLink a:hover {
    
    background-color: #000100;
    color: #FFFFFF;
    font-weight: bolder;

}




/******** VINYL COLLECTION **********/

.vinylRecordCollection h1 {
    text-align: center;
    border-bottom: 5px solid #FF6700;
    margin: 0;
    padding-top: 50px;
    background-color: #FFFFFF;

}

.pageLink {
    text-align: center;
    padding: 30px 0 30px 0;
}

.pageLink a {

    text-decoration: none;
    background-color: #FF6700;
    color: #FFFFFF;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 350px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;

}

.pageLink a:hover {
    background-color: #000100;
    color: #FFFFFF;
    font-weight: bolder;
}

.vinylRecordCollection {
    width: 100%;
}

#vinyl-display {
    text-align: center;
}

#vinyl-display img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 400px;
    padding-bottom: 5px;

}

#vinyl-detail p {
    background-color: #FFFFFF;
    border: 2px solid #FF6700;
    color: #FF6700;
    padding: 10px 5px 10px 5px;
    text-align: left;
    font-weight: normal;

}

#vinyl-detail p span {
    font-weight: bolder;
    font-size: large;
}

#vinyl-options {
    text-align: center;
    margin-bottom: 70px;

}

#vinyl-options a {
    text-decoration: none;
    background-color: #FF6700;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    width: 40%;
    margin: 5px 10px 5px 10px;
    text-align: center;
    display: inline-block;

}

#vinyl-options a:hover {
    background-color: #7A7D7D;
    color: #FFFFFF;
    font-weight: bolder;
}







/******** PROFILE **********/
main h1 {
    text-align: center;
    border-bottom: 5px solid #FF6700;
    margin: 0;
    padding-top: 50px;
    background-color: #FFFFFF;
    margin: 0 15px 0 15px;
}

.profile ul {
    background-color: #FFFFFF;
    margin: 0 15px 0 15px;
    padding: 20px 10px 20px 10px;
    
    
}

.profile ul li {
    padding-top: 5px;

}

.profile ul span {
    font-weight: bolder;
    font-size: large;
}

.form fieldset {
    padding-left: 15px;
    background-color: #FF6700;
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #FFFFFF;
}

.form {
    border: none;
}

.form label{
    display: block;
    padding-top: 10px;
    font-weight: bold;
    
}

.form .input {
    display: block;
    width: 90%;
    padding: 7px 0 7px 5px;
    margin: 5px 0 0 0;
}

.form .inputButton {
    margin-bottom: 15px;
}

.profile .formHeader h2 {
    border-bottom: 2px solid #FFFFFF;
}

.profile .formHeader p {
    border-top: none;
}

#registrationInstructions {
    font-size: small;
    font-style: italic;
    display: inline-block;
    padding-right: 15px;
    padding-top: 5px;
}



#vinylLink {
    text-align: center;
    padding: 10px 0 40px 0;
    background-color: #FF6700;
}

#vinylLink a {
    text-decoration: none;
    background-color: #1446A0;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

#vinylLink a:hover {
    
    background-color: #000100;
    color: #FFFFFF;
    font-weight: bolder;

}



/******** LOGIN **********/
.loginMain form {
    border-top: 2px solid #FFFFFF;
}

.loginMain form label {
    display: block;
    padding-top: 10px;
}

.loginMain .inputButton {

    margin-bottom: 15px;
}




/******** REGISTRATION **********/
.registrationMain {
    margin: 0 15px 0 15px;
}

.registrationMain .formHeader {
    margin: 0;
}

.registrationMain p, .registrationMain fieldset {
    border: none;
    margin: 0;
}

.registrationMain .formHeader p {
    font-style: italic;

}

.registrationMain .inputButton {
    margin-bottom: 30px;
    margin-top: 15px;
}


/******** NEW VINYL **********/
.newVinylMain .formcontainer {
    background-color: #000100;
}

.newVinylMain .formHeader {
    margin: 0;
}
.newVinylMain .formcontainer h1 {
    margin: 0;
    
}

.newVinylMain .formcontainer p {
    border: none;
}

.newVinylMain fieldset {
    border-bottom: none;
    margin: 0;
}

.newVinylMain a {
    text-decoration: none;
    background-color: #7A7D7D;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 250px;
    text-align: center;

    display: inline-block;

}

.newVinylMain a:hover {
    
    background-color: #000100;
    color: #FFFFFF;
    font-weight: bolder;

}

.newVinylMain .inputButton {
    margin-bottom: 30px;
    margin-top: 15px;
}



/******** UPLOAD IMAGE **********/
.uploadMain form {
    background-color: #FF6700;
    color: #FFFFFF;
    border: none;
    padding-top: 15px;
    padding-bottom: 30px;
}

.uploadMain form label {
    
    padding-left: 15px;
    font-weight: bolder;
    
}

.uploadMain .selectFile {
    margin-left: 15px;
}

.uploadMain .inputButton {
    display: inline;
    margin-left: 15px;
    margin-top: 15px;
}

