* {

    padding: 0;

 

}

/******** BODY **********/
body {
    background-color: #000100;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/******** HEADER **********/
header {
    background-color: #FFFFFF;
    padding: 30px 0 30px 0;
}

.logo img {
    width: 100%;
    max-width:900px;
    height: auto;

}

.accountOptions {
    text-align: center;
    padding-top: 20px;
    
}


#profile {
    text-decoration: none;
    background-color: #000100;
    color:#FFFFFF;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;

}

#logout {
    text-decoration: none;
    background-color: #000100;
    color:#FFFFFF;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;

}

#profile:hover, #logout:hover {
    background-color: #FF6700;
    color: #000100;
    font-weight: bolder;

}


/******** NAV **********/

/******** MAIN **********/
main {
    background-color: #FFFFFF;
}



/******** FOOTER **********/
footer {
    background-color: #FFFFFF;
}