@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {

    padding: 0;



}

/******** HTML **********/
html {
    min-width: 350px;
}


/******** BODY **********/
body {
    background-color: #000100;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kalam', cursive;
}


/******** HEADER **********/
header {
    background-color: #FFFFFF;
    padding: 30px 0 20px 0;
}

.logo img {
    width: 100%;
    max-width: 900px;
    height: auto;

}

.accountOptions {
    text-align: center;
    padding-top: 20px;

}


#profile {
    text-decoration: none;
    background-color: #000100;
    color: #FFFFFF;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;

}

#logout {
    text-decoration: none;
    background-color: #000100;
    color: #FFFFFF;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;

}

#profile:hover,
#logout:hover {
    background-color: #FF6700;
    color: #000100;
    font-weight: bolder;

}


/******** NAV **********/
nav {
    background-color: #FF6700;
    width: 100%;
    color: #000100;
    font-weight: bolder;
    border-top-color: #000100;
    border-width: 5px 0 0 0;
    border-style: solid;
    border-bottom: 5px solid #000100;
    

}


nav ul {

    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
}

nav li {
    display: flex;
    border-left: 2px solid #000100;
    margin: 0 2px 0 2px;
}

nav li:nth-child(3) {
    border-right: 2px solid #000100;
}

nav a {

    background-color: #000100;
    color: #FF6700;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: block;
    
    text-align: center;
}


nav li a:hover {
    background-color: #000100;
    color: #FFFFFF;
    
}

nav a:active {
    background-color: #000100;
    color: #FF6700;
   
}


.selected {
    background-color: #1446A0;
    color: #FFFFFF;
}




/******** MAIN **********/
#hero {
    background-color: #000100;
}

#hero img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #000100;
}

main p, main div {
    background-color: #FFFFFF;
    margin: 0 15px 0 15px;
}

main > div > h1 { 
    text-align: center;
    border-bottom: 5px solid #FF6700;
    margin: 0;
    padding-top: 15px
        
}

main div p, main div h2, .loginform, #accountLink {
    background-color: #FF6700;
    color: #FFFFFF;

}

main div p{
    margin: 0;
    padding: 25px 5px 15px 5px;
    font-weight: bold;
}

main div h2 {
    padding-left: 15px;
    padding-bottom: 10px;
    margin: 0;
}

.loginform {
    padding-left: 15px;

}

.loginform label{
    font-weight: bold;
}

.input {
    width: 90%;
    padding: 7px 7px;
    margin: 5px 0 0 0;
}

#loginInstructions {
    font-size: small;
    font-style: italic;
    display: inline-block;
    padding-right: 15px;
}

.inputButton {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 5px;
}

.inputButton:hover {
    background-color: #000100;
    color: #FFFFFF;
}

#accountLink {
    text-align: center;
    padding-bottom: 40px;
}

#accountLink a {
    text-decoration: none;
    background-color: #1446A0;
    color: #FFFFFF;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

#accountLink a:hover {
    
    background-color: #000100;
    color: #FFFFFF;
    font-weight: bolder;

}







/******** MESSAGE **********/
.message {
    background-color: #1446A0;
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    margin: 2px; 
    text-align: center;   
    
}



/******** FOOTER **********/
footer {
    color: #FF6700;
    background-color: #000100;
    text-align: center;
    
    
}

footer p {
    padding: 3px 0 3px 0;
    font-weight: bold;
}